body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f4f9; 
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  width: 550px;
  border: 5px solid #6a5acd; 
  border-radius: 20px;
  padding: 15px;
  color: #695fab; 
  background-color: #ffffff; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

#fact {
  color: #483d8b; 
  font-size: 35px;
}

button {
  font-size: large;
  background-color: #6a5acd;
  color: #ffffff; 
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

button:hover {
  background-color: #5a4ec3;
}

h1 {
  font-size: 37px;
}